<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Validación usuarios</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
	
	 <link href="../../static/css/index-estilo.css" th:href="@{/css/index-estilo.css}" type="text/css" rel="stylesheet">
	<link href="../../static/css/listas.css" th:href="@{/css/listas.css}" type="text/css" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
    <div th:replace="fragments/perfil::perfil"></div>

	<header th:replace="fragments/navTop::menuTop"></header>
	<main>
    <div class="container-fluid">    
	<section class="col-10 mt-0 container-fluid">
	<article>
                <div class="card border-light mb-3">
                  <div class="card-header row mr-0 ml-0">
                  <h3 class="col-xl-8 col-lg-6 col-md-5 col-sm-4 col-12" th:text="#{usuariosSinValidar}">Usuarios sin validar</h3>
                  </div>
                  <div class="card-body text-dark">
                  
	<!-- Lista de usuarios sin validar -->
	<div class=" col-12 mx-auto justify-content-center row my-3"
		th:each="usuario : ${listaNoValidados}" th:object="${usuario}">
		<div class="col-5 mx-1">
		<div class="card">
		<div class="card-header">
			<h4 class="" th:text="*{nombre}+' '+*{apellidos}"></h4>
			</div>
			<div class="card-body">
				<a class="btn btn-primary"
				th:href="@{/admin/gestionUsuarios/validaciones/aceptar/{id}(id=${usuario.id})}"
				role="button" th:text="#{validar}">Validar</a>
							<a class="btn btn-dark"
				th:href="@{/admin/gestionUsuarios/validaciones/rechazar/{id}(id=${usuario.id})}"
				role="button" th:text="#{rechazar}"
				onclick="return confirm('¿Está seguro de que desea rechazar a este usuario?')">>Rechazar</a> 
				</div>
			</div>
		</div>
	</div>

	<!-- Paginación -->
	<div class="row mt-5 mx-auto text-center justify-content-center">
		<div class="form-group col-md-1  mx-auto">
			<select class="form-control pagination" id="pageSizeSelect">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
					th:value="${pageSize}"
					th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>
		<div th:if="${listaNoValidados.totalPages > 0}"
			class="form-group col-md-11 pagination-centered">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
					<!-- Si el número de página es cero, deshabilitamos el enlace -->
					<li class="page-item" th:class="${listaNoValidados.number == 0} ? disabled">
					
						<!-- Este enlace nos debe llevar a la primera página, con el tamaño de página actual -->
						<a class="page-link text-primary"
						th:href="@{/admin/gestionUsuarios/validaciones/(pageSize=${selectedPageSize}, page=1, nombre=${nombre})}">&laquo;</a>
					</li>
					<!-- Si el número de página es cero, deshabilitamos el enlace -->
					<li class="page-item" th:class="${listaNoValidados.number == 0} ? disabled">
						<!-- Este enlace nos debe llevar a la página anterior, con el tamaño de página actual -->
						<a class="page-link text-primary"
						th:href="@{/admin/gestionUsuarios/validaciones/(pageSize=${selectedPageSize}, page=${listaNoValidados.number}, nombre=${nombre})}">&larr;</a>
					</li>
					<!-- Este bucle genera los enlaces para las demás páginas -->
					<li class="page-item"
						th:class="${listaNoValidados.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="page-link text-primary"
						th:href="@{/admin/gestionUsuarios/validaciones/(pageSize=${selectedPageSize}, page=${page}, nombre=${nombre})}"
						th:text="${page}"></a>
					</li>
					<!-- Enlace a la siguiente página; si estamos en la última queda desabilitado  -->
					<li class="page-item"
						th:classappend="${listaNoValidados.number + 1 == listaNoValidados.totalPages} ? 'disabled'">
						<a class="page-link text-primary"
						th:href="@{/admin/gestionUsuarios/validaciones/(pageSize=${selectedPageSize}, page=${listaNoValidados.number + 2}, nombre=${nombre})}">&rarr;</a>
					</li>
					<!-- Enlace a la última página; si estamos en la última queda desabilitado  -->
					<li class="page-item"
						th:class="${listaNoValidados.number + 1 == listaNoValidados.totalPages} ? disabled">
						<a class="page-link text-primary"
						th:href="@{/admin/gestionUsuarios/validaciones/(pageSize=${selectedPageSize}, page=${listaNoValidados.totalPages}, nombre=${nombre})}">&raquo;</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	</div>
	</div>
	       </article>
      </section>
      </div>
    </main>

	<footer th:replace="fragments/footer::footer"></footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	
	<script type="text/javascript" th:src="@{/js/validarUsuarios.js}"></script>

</body>
</html>

